        .carousel-item {
            height: 330px;
        }
        
        body {
            background-attachment: fixed;
            height: 200px;
            background-image: url('https://i.pinimg.com/originals/0a/8c/38/0a8c386fc47c9526405b21c6b0beef23.jpg');
        }
        
        svg {
            display: block;
            font: 10.5em 'Damiano';
            width: 280px;
            height: 70px;
            margin: 0 auto;
        }
        
        .text-copy {
            fill: none;
            stroke: white;
            stroke-dasharray: 6% 29%;
            stroke-width: 5px;
            stroke-dashoffset: 0%;
            animation: stroke-offset 5.5s infinite linear;
        }
        
        .text-copy:nth-child(1) {
            stroke: #4D163D;
            animation-delay: -1;
        }
        
        .text-copy:nth-child(2) {
            stroke: #840037;
            animation-delay: -2s;
        }
        
        .text-copy:nth-child(3) {
            stroke: #BD0034;
            animation-delay: -3s;
        }
        
        .text-copy:nth-child(4) {
            stroke: #BD0034;
            animation-delay: -4s;
        }
        
        .text-copy:nth-child(5) {
            stroke: #FDB731;
            animation-delay: -5s;
        }
        
        @keyframes stroke-offset {
            100% {
                stroke-dashoffset: -70%;
            }
        }
        
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        
        .skills {
            text-align: right;
            /* Right-align text */
            padding-top: 10px;
            /* Add top padding */
            padding-bottom: 10px;
            /* Add bottom padding */
            color: white;
            /* White text color */
        }
        
        .html {
            width: 95%;
            background-color: #212423;
            border: solid;
            border-color: #ffffff;
        }
        /* Green */
        
        .css {
            width: 90%;
            background-color: #212423;
            border: solid;
            border-color: #ffffff;
        }
        /* Blue */
        
        .js {
            width: 60%;
            background-color: #212423;
            border: solid;
            border-color: #ffffff;
        }
        /* Red */
        
        .php {
            width: 10%;
            background-color: #212423;
            border: solid;
            border-color: #ffffff;
        }
        /* Dark Grey */
        
        #idAncora {
            position: fixed;
            right: 5px;
            bottom: 14px;
        }
        
        .gotop {
            border-radius: 80px;
            padding: 5px 10px 5px 12px;
            color: rgb(255, 255, 255);
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body {
            line-height: 1.5;
            font-family: 'Poppins', sans-serif;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container1 {
            max-width: 1170px;
            margin: auto;
        }
        
        .row1 {
            display: flex;
            flex-wrap: wrap;
        }
        
        ul {
            list-style: none;
        }
        
        .footer {
            background-color: #24262b;
            padding: 60px 0;
        }
        
        .footer-col {
            width: 25%;
            padding: 0 15px;
        }
        
        .footer-col h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }
        
        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 79px;
        }
        
        .footer-col ul li:not(:last-child) {
            margin-bottom: 10px;
        }
        
        .footer-col ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }
        
        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }
        
        .footer-col .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
        }
        
        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }
        
        @media(max-whidth:767px) {
            .footer-col {
                width: 50%;
                margin-bottom: 30px;
            }
        }
        
        @media(max-whidth:574px) {
            .footer-col {
                width: 100%;
            }
        }
        
        .copy {
            color: #ffffff;
            text-align: center;
        }
        
        h2 {
            color: #ffffff;
        }
        
        p {
            color: #ffffff;
        }